body{
    background-color:black;
    display:block;
    margin:8px;
}
*{
    font-family:'Raleway', sans-serif;
    box-sizing:border-box;
    margin:0;
}

.banner{
    background-image:linear-gradient(rgba(0,0,0,.6), rgba(49,168,221,.2), rgba(0,0,0,.6)),url(./assets/images/banner.png);
    background-size:cover;
    background-repeat:no-repeat;
    height:600;
    padding-top:60px;
    border-bottom:1px solid #33A8DB80;
}
.banner .banner-content{
    color:white;
    width:600px;
    margin:auto;
    text-align:center;
}
div{
    display:block;

}
main{
    display:block;
}

footer{
    padding:60px 0;
    text-align:center;
    background-image:linear-gradient(rgba(50,168,219,.0),rgba(50,168,219,.2));
    border-top: 1px solid #33A8DB80
}